h1, h2
    {
        
        color :greenyellow;
        font-family:Arial;
    }
body 
    {
        background-color:rgb(115, 174, 234);


    }

.container
{
    
    display: flex;
    height:100px;
    justify-content: space-between;
    justify-content: center;
    

}
.paragraph 
{
    text-transform: uppercase;
    align-self: flex-end;
    display:flex;
    color:beige;
    position:absolute;

}

.TEXT
{

    position:absolute;
    

}

.Picture

    {
        background-image: url(https://th-thumbnailer.cdn-si-edu.com/M2gX-V36PODTjxMjfbc62jrpO0A=/fit-in/1600x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/7f/29/7f29611c-d054-40e2-bc88-65274b63a12a/1200px-komodo_dragon_with_tongue.jpg);
        width:850px;
        height:475px;
        filter:blur(4px);
        position: absolute;
    }




